.header .top {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}
.header .top-nav {
    width: 930px;
    height: 37px;
    margin:0 auto;
    padding-top: 11px;
}
.header .top ul {
    float: left;
}
.header .top-nav li {
    float: left;
}
.header .top-nav li a {
    border-right: 1px solid #bbbbbb;
    padding-right: 15px;
    margin-right:15px;
}
.header .top .top-right {
    float: right;
}
.header .top-right .login {
    float: left;
}
.header .top-right .register {
    float: left;
}
.header .top-right span {
    border-left :1px solid #bbbbbb;
    float: left;
    padding: 9px 8px;
    margin-left: 16px;
}
/*以上是最顶部的导航栏*/

.header .middle {
    width: 930px;
    height: 110px;
    padding:25px 0 15px;
    margin:0 auto;
}
.header .middle h1 {
    float: left;
}
.header .middle .m-right {
    float: right;
    position: relative;
}
.header .middle .input {
    margin-top: 30px;
    margin-left: 300px;
    position: relative;
    height: 40px;
    width: 560px;
    height: 40px;

}
.header .middle .text {
    width: 385px;
    height: 40px;
    border:1px solid #cccccc;
    position: absolute;
    top: 0;
    left: 0;
}
.header .middle .sub {
    width: 40px;
    height: 40px;
    background: url("../img/fdj.png") no-repeat center;
    border:1px solid #cccccc;
    position: absolute;
    top: 0;
    left: 385px;
    border-left:0 none;
    cursor: pointer;
}

.header .middle .button {
    width: 126px;
    height: 40px;
    background: url("../img/car1.png") no-repeat 25px center #ffdb3d;
    /*padding-left:34px;*/
    border:  solid #ffdb3d;
    position: absolute;
    top: 0;
    left: 435px;
    border-left:0 none;
    cursor: pointer;
}
.header .middle .time {
    font-size: 12px;
    color: #cccccc;
    position: absolute;
    right: 0;
    top: 0;
}
.header .middle .time span{
    width: 16px;
    height: 16px;
    background: url("../img/time.png") no-repeat 0 center;
    display:inline-block;
    vertical-align: middle;
}
.header .m-right .tip {
    position: absolute;
    left: 205px;
    top: 14px;
}
.header .m-right .tip span {
    font-size: 12px;
    background: #cccccc;
    margin-right: 5px;
    padding:5px 0;
}
/*以上logo部分*/

.header .bottom {
    width: 930px;
    margin:0 auto;
    overflow: hidden;
}
.header .b-nav .nav-l {
    width: 248px;
    height: 50px;
    background-color: #ff4a00;
    /*font-size: 14px;*/
    line-height: 50px;
    color: #ffffff;
    padding-left: 20px;
    float: left;
}
.header .nav-r {
    width: 682px;
    height: 50px;
    line-height: 50px;
    background-color: #404144;
    float: right;
}
.header .b-nav ul li {
    /*font-size: 14px;*/
    padding:0 10px;
    float: left;
}
.header .b-nav  li a {
    color: #ffffff;
}
.header .b-nav ul li:hover {
    background-color: #ff4a00;
}
.header .b-nav ul:hover .hover {
    padding-left:8px;
    border-left:2px solid #404144;
}
.header .b-left {
    float: left;
}
.header .b-left .pitem {
    width: 248px;
    height: 74px;
    border: 1px solid #cccccc;
    border-top:0 none;
    padding-left: 20px;
    padding-top: 13px;
    line-height: 23px;
    position: relative;
}
.header .b-left .pitem:hover{
    border-left: 3px solid #ff4a00;
    padding-left: 18px;
    border-right:0 none;
}
.header .b-left .pitem:hover .popup{
    left: 244px;
    display: block;
}

.header .b-left h6 {
    font-size: 14px;
}
.header .b-left h6 a {
    color: #ff4a00;
}
.header .b-left span {
    font-size: 14px;
}
.header .popup{
    width: 248px;
    height: 322px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 0;
    left: 247px;
    display: none;
    z-index: 10086;
}
.header  .pop-top {
    width:246px;
    height:203px;
    padding:10px 0;
    background-color: #fff;
}
.header .pop-top a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.header .pop-top a:hover {
    background-color: #fafafa;
}
.header .pop-top a img {
    vertical-align: middle;
}
.header .pop-top span {
    margin-left:20px;
}
.header  .pop-bottom {
    width: 246px;
    height: 117px;
    background: #fafafa;
}
.header .pop-bottom {
    padding:15px 0 0 30px;
}
.header .pop-bottom h6 {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
}
.header .pop-bottom li {
    height: 18px;
    line-height: 18px;
    list-style: disc;
    margin-left: 20px;
    color: #999999;
    font-size: 12px;
}
.header .b-right {
    float: right;
}
.header .b-right li {
    width: 228px;
    height: 172px;
    border:1px solid #cccccc;
    border-left:0 none;
    float: left;
    position: relative;
}

.header .b-right .li2{
    width: 227px;
}

.header .b-right .title {
    position: absolute;
    top: 23px;
    left: 33px;
}
.header .b-right .title h4 {
    font-weight: bold;
}
.header .b-right .title h6 {
    color: #cccccc;
    height: 25px;
    line-height: 25px;
    margin-left: 13px;
}
/*以上商品列表部分*/

.content {
    width: 930px;
    margin:0 auto;
}
.content .star-list {
    width: 930px;
    height: 375px;
    margin-top: 10px;
}
.content .s-title {
    height: 51px;
    width: 930px;
}
.content .s-title  .title-left {
    height: 51px;
    line-height: 51px;
    float: left;
}
.s-title .title-left span {
    font-size: 12px;
    color: #999;
}
.content .s-title .s-more {
    float: right;
    margin-top: 20px;
}
.content .s-more span {
    width: 30px;
    height: 20px;
    border:1px solid #cccccc;
    line-height: 20px;
    padding:0 10px;
}
.content .s-more .s1 {
    color: #eeeeee;
    border-right:none;
}
.content .star-list li {
    float: left;
    height: 310px;
    width: 310px;
    border: 1px solid #cccccc;
    border-right:0 none;
}
.content .star-list .li1 {
    border-right:1px solid #cccccc;
}
.star-list .s-img {
    width: 146px;
    height: 180px;
    margin: 30px auto;
}
.star-list h4,.star-list h6 {
    text-align: center;
    margin-top: 8px;
}
.star-list h6 {
    color: #cccccc;
}
/*以上是小米单品*/

.content .new {
    width: 930px;
    height: 996px;
}
/*板块顶部标语F*/
.content .n-title {
    height: 51px;
    width: 930px;
}
.content .n-title  .title-l {
    height: 51px;
    line-height: 51px;
    float: left;
}
.content .n-title  .title-r {
    height: 51px;
    line-height: 51px;
    float: right;
}
/*板块顶部标语E*/
.content .cont-l {
    float: left;
}
.content .cont-r {
    float: right;
}
.cont-l .item1 {
    width: 620px;
    height: 310px;
    border: 1px solid #cccccc;
    border-right:0 none;
    border-bottom:0 none;
    position: relative;
}
.cont-l .item1 .xyj {
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.cont-l .item1 .dingwei {
    position: absolute;
    top: 50px;
    left: 15px;
}
.cont-l .item1 h2 {
    font-weight: bold;
}
.cont-l .item1 h6 {
    height: 37px;
    line-height: 37px;
}
.cont-l .item1 .price {
    height: 54px;
    line-height: 54px;
    font-size: 16px;
}
.cont-l .item2 {
    width: 620px;
    height: 310px;
}
.cont-l .item2 a {
    float: left;
}
.cont-l .item2-l {
    width: 311px;
    height: 310px;
    position: relative;
    border:1px solid #cccccc;
    border-right:0 none;
    border-bottom: 0 none;
}
.cont-l .item2-l .wy {
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.cont-l .item2-l .dingwei {
    position: absolute;
    top: 33px;
    left: 30px;
}
.cont-l .item2-l h4 {
    height: 30px;
    line-height: 30px;
}
.cont-l .item2-l .baoyou {
    width: 70px;
    height: 20px;
    background-color: red;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 12px;
    color: #ffffff;
}
.cont-l .item2-l span {
    color: #cccccc;
    text-decoration: line-through;
    margin-left: 10px;
}
.item2  .item2-r{
    height: 310px;
    width: 309px;
    float: right;
}
/*商品内容定位复制*/
.item2-r .ritem-t {
    height: 156px;
    width: 309px;
    border:1px solid #cccccc;
    border-right:0 none;
    position: relative;
}
.item2-r .ritem-t .ej {
    position: absolute;
    right: 5px;
    bottom: 25px;
}
.cont-l .ritem-t .dingwei {
    position: absolute;
    top: 33px;
    left: 30px;
}
.cont-l .ritem-t h4 {
    height: 30px;
    line-height: 30px;
}
/*结束*/
.item2-r .ritem-b {
    height: 155px;
    width: 309px;
    border:1px solid #cccccc;
    border-right:0 none;
    position: relative;
    border-top:0 none;
}
.item2-r .ritem-b .jt {
    position: absolute;
    right: 5px;
    bottom: 25px;
}
.item2-r .ritem-b .dingwei {
    position: absolute;
    top: 33px;
    left: 30px;
}
.item2-r .ritem-b h4 {
    height: 30px;
    line-height: 30px;
}

.cont-l .item3 {
    width: 620px;
    height: 310px;
}
.item3 .item3-l {
    float: left;
    width: 312px;
    height: 310px;
    border:1px solid #cccccc;
}
.item3-l .ej2 {
    width: 312px;
    height: 310px;
    position: relative;
}
.item3-l  .ej2-img {
    position: absolute;
    right: 50px;
    bottom: 25px;
}
.item3-l  .dingwei {
    position: absolute;
    top: 33px;
    left: 30px;
}
.item3-l h4 {
    height: 30px;
    line-height: 30px;
}
.item3 .item3-r {
    width: 308px;
    height: 310px;
    float: right;
    border-bottom:1px solid #cccccc
}
.item3-r .hm {
    width: 312px;
    height: 310px;
    position: relative;
}
.item3-r  .hm-img {
    position: absolute;
    right: 50px;
    bottom: 25px;
}
.item3-r  .dingwei {
    position: absolute;
    top: 33px;
    left: 30px;
}
.item3-r h4 {
    height: 30px;
    line-height: 30px;
}





